.btn {
	width: 13.333em;
  	height: 3.750em;
	margin: 0 0 0 1.5em;
	border-radius: 8.333em;
	font-size: 1.2rem;
	line-height: 3.75;
	text-align: center;
	background: $color_main;
	color: #ffffff;
	text-transform: uppercase;
	transition: all .3s ease;
	a {
		display: inline-block;
	}
	&:hover {
		box-shadow: .5em .5em .5em 0 rgba($color-txt_forms, .3);
		transform: scale(1.1);
	}
	&-big {
		display: block;
		width: 15.333em;
		height: 3.800em;
		margin: 1.125em auto 0;
		border: none;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 3.8;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
	}
}

@media only screen and (max-width: 1199px) {
	.btn {
		margin: .65em 0 0 0;

		&:hover {
			box-shadow: none;
			transform: none;
		}

		&:active {
			box-shadow: .5em .5em .5em 0 rgba($color-txt_forms, .3);
			transform: scale(1.1);
		}

		&-big {
			margin: 1.125em auto 0;
		}
	}
}

@media only screen and (max-width: 767px) {
	.btn {
		font-size: 1.5rem;
		&-big {
			font-size: 1.8rem;
		}
	}
}

@media only screen and (max-width: 575px) {
	.btn {
		&-big {
			width: 80%;
		}
	}
}