.slids {
	position: relative;
	display: flex;
	justify-content: center;
	margin-top: 3rem;

	&__item {
		width: 60.2rem;
		height: 24.2rem;
		margin: 0 1.571em;
		transform: scale(.7);
		opacity: .3;
		transition: all .5s ease;
	}

	&__icon {
		max-width: 8.286em;
		margin: 0 auto;
		border: 1px solid transparent;
		border-radius: 50%;
		overflow: hidden;
	}

	&__content {
		margin-top: 1.286em;
		color: $color-txt_two;
		text-align: center;
	}

	&__subtitle {
		font-size: 1.8rem;
		font-weight: 700;
	}

	&__descr {
		margin-top: 0.857em;
		font-weight: 300;
	}

	.slick-current {
		transition: all .5s ease;
		transform: scale(1);
		opacity: 1;
	}

	.slick-arrow {
		width: 1.5rem;
		height: 4.7rem;
		border: none;
		outline: none;
		font-size: 0;
		cursor: pointer;
	}

	.slick-prev {
		position: absolute;
		top: 0;
		left: 0;
		background: url('../icons/8_reviews/left.svg') no-repeat;
	}

	.slick-next {
		position: absolute;
		top: 0;
		right: 0;
		background: url('../icons/8_reviews/right.svg') no-repeat;

	}
}
