@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;400;700&display=swap');
@import 'libs/normalize';
@import 'base/variables';

*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
		-moz-box-sizing: inherit;
			  box-sizing: inherit;
			  margin: 0;
			  padding: 0;
}

html {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
			  font-size: 10px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.4rem;
}

:focus, 
:active {
	outline: none;
}

a, 
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:focus, 
a:active {
	outline: none;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

ul li {
	list-style: none;
}

img {
	display: block;
	width: 100%;
	height: auto;
	margin: 0 auto;
}

//===============СЕТКА=================

.container {
	position: relative;
	max-width: 1140px;
	margin: 0 auto;
	z-index: 2;
}

//===============Модули=================

@import 'base/contacts';
@import 'base/buttons';
@import 'base/titles';
@import 'base/content';
@import 'base/form';

//===============Блоки=================

@import 'blocks/header';
@import 'blocks/advantages';
@import 'blocks/work';
@import 'blocks/agent';
@import 'blocks/price';

//===============Медиазапросы=================

@media only screen and (max-width: 1199px) {
	html {
		font-size: 9px;
	}

	.container {
		padding: 0 5rem;
	}
}

@media only screen and (max-width: 991px) and (orientation: landscape) {
	html {
		font-size: 8px;
	}
}

@media only screen and (max-width: 767px) {
	html {
		font-size: 7px;
	}
}