.advantages {
	position: relative;
	min-height: 59rem;
	padding: 5.8rem 0 5rem;
	background: #f3f3f3;
	z-index: 1;

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin-top: 3.2rem;
	}

	&__item {
		display: flex;
		align-items: start;
		flex: 1 0 50.8rem;
		margin: 0 2.286em 2.714em;

		&:nth-child(even) {
			margin-right: 0;
		}
		&:nth-child(odd) {
			margin-left: 0;
		}

		&:last-child,
		&:nth-last-child(2) {
			margin-bottom: 0;
		}
	}

	&__icon {
		max-width: 3.714em;
	}

	&__content {
		width: 31.929em;
		margin-left: 1.429em;
	}

	&__descr {
		text-align: left;
	}
}

//===============Медиазапросы=================

@media only screen and (max-width: 1199px) {
	.advantages {
		&__item {
			max-width: 44%;
		}
	}
}

@media only screen and (max-width: 991px) {
	.advantages {
		&__icon {
			width: 40%;
		}
	}
}

@media only screen and (max-width: 575px) {
	.advantages {
		&__items {
			justify-content: center;
		}

		&__item {
			max-width: 90%;
			margin: 0 0 2.571em;
			
			&:nth-last-child(2) {
				margin-bottom: 2.571em;
			}
		}
	}
}