.advantages {
	min-height: 59rem;
	padding: 5.8rem 0 5rem;
	background: #f3f3f3;
	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 2.143em;
		font-size: 1.4rem;
	}

	&__item {
		display: flex;
		align-items: start;
		max-width: 53.8rem;
		flex: 1 0 53.8rem;
		padding: 0 2.143em 2.571em;
		&:nth-child(even) {
			padding-right: 0;
		}
		&:nth-child(odd) {
			padding-left: 0;
		}
		&:last-child,
		&:nth-last-child(2) {
			padding-bottom: 0;
		}
	}

	&__icon {
		width: 3.714em;
		img {
			display: block;
			max-width: 100%;
			margin: 0 auto;
		}
	}

	&__content {
		width: 31.929em;
		margin-left: 1.429em;
	}

	&__subtitle {
		font-size: 1.6rem;
		font-weight: 700;
		color: $color_main;
	}

	&__descr {
		margin-top: 0.714em;
		font-weight: 300;
		line-height: 1.6;
		text-align: left;
		color: $color-txt_two;
	}
}

@media only screen and (max-width: 1199px) {
	.advantages {
		&__item {
			max-width: 50%;
		}
	}
}

@media only screen and (max-width: 575px) {
	.advantages {
		&__items {
			justify-content: center;
			margin-top: 3.143em;
		}
		&__item {
			max-width: 90%;
			padding: 0 0 2.571em;
			&:nth-last-child(2) {
				padding-bottom: 2.571em;
			}
		}

		&__icon {
			width: 20%;
		}
	}
}

@media only screen and (max-width: 320px) {
	.advantages {
		&__icon {
			width: 40%;
		}
	}
}