.contact {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 340px;
	&__descr {
		text-align: right;
		color: #ffffff;
	}

	&__title {
		font-size: 1.4rem;
		line-height: 1;
		font-weight: 300;
	}

	&__tel {
		padding-top: 0.278em;
		font-size: 1.8rem;
		line-height: 1;
		font-weight: 700;
		white-space: nowrap;
	}
}

@media only screen and (max-width: 1199px) {
	.contact {
		flex-direction: column;
	}
}

@media only screen and (max-width: 991px) {
	.contact {
		order: 2;
		&__descr {
			text-align: center;
		}
	}
}

@media only screen and (max-width: 767px) {
	.contact {
		&__tel {
			display: none;
		}
	}
}

@media only screen and (max-width: 575px) {
	.contact {
		position: fixed;
		top: -100%;
		left: 50%;
		transform: translateX(-50%);
	}
	.contact.active {
		top: 85%;
		z-index: 9999;
		display: flex;
		transition: all 0.5s ease;
	}
}