.footer {
	position: relative;
	min-height: 20rem;
	padding: 2.4rem 0 2.8rem;
	background: $color_two;
	z-index: 1;

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 1.857em;
	}

	&__descr {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 32.5em;
		font-size: 1.6rem;
	}

	&__title {
		margin-left: 2.625em;
		font-size: 1.6rem;
		font-weight: 700;
		text-align: left;
		color: $color-txt_white;
	}

	&__separator {
		position: absolute;
		top: (98px / 150px)*100%;
		left: 50%;
		width: (1172px / 1140px)*100%;
		margin: 0;
		background: rgba($color-txt_white, .3);
		transform: translateX(-50%);
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 1.357em;
		font-size: 1.3rem;
		color: rgba($color-txt_white, .6);
	}

	&__copy {
		margin-right: 16.923em;
	}

	&__privacy {
		margin-right: 34.923em;
		transition: all .3s ease;
		cursor: pointer;

		&:hover {
			color: $color_main;
			text-decoration: underline;
		}
	}

	&__author {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 10.923em;
		font-size: 1.3rem;
	}

	&__logo {
		max-width: 2.308em;
		margin-left: 0.769em;
	}
}

.footer .logo {
	max-width: 4.250em;
}

//===============Медиазапросы=================

@media only screen and (max-width: 1199px) {
	.footer {
		&__separator {
			width: 95%;
		}
	}
}

@media only screen and (max-width: 991px) {
	.footer {
		&__separator {
			width: 90%;
		}

		&__bottom {
			flex-wrap: wrap;
		}

		&__copy {
			margin: 0;
		}

		&__privacy {
			margin: 0;
		}
	}
}

@media only screen and (max-width: 575px) {
	.footer {
		&__top {
			justify-content: center;
		}

		&__descr {
			flex-direction: column;
		}

		&__title {
			margin: 0;
			text-align: center;
		}

		&__separator {
			top: 60%;
			width: 80%;
		}

		&__bottom {
			justify-content: center;
		}

		&__copy {
			margin: 1.099em 1.099em 0;
		}

		&__privacy {
			margin: 1.099em 1.099em 0;
		}

		&__author {
			margin: 1.099em 1.099em 0;
		}
	}

	.footer .logo {
		margin-bottom: 0.536em;
	}
}