//==================Шапка=====================
.logo {
	width: 6.275em;
	img {
		max-width: 100%;
	}
}

.header {
	position: relative;
	min-height: 68rem;
	padding: 2.3rem 0 8.1rem;
	font-size: 1.53rem;
	line-height: 1.5;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('../img/1_header/bg.png') center top/cover no-repeat;
		filter: blur(10px);
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba($color-txt_one, .7);
	}

	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		min-height: 6.536em;		
	}

	&__list {
		display: flex;
		justify-content: space-between;
		max-width: 600px;
		margin: 0 auto;  
	}

	&__link {
		height: 1.503em;
		padding: 0 0.8em;
		border-right: 1px dotted rgba($color-txt_white, .7);
		
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
			border-right: none;
		}
		a {
			position: relative;
			display: inline-block;
			text-align: center;
			color: #ffffff;
			white-space: nowrap;
			transition: all .3s ease;
			&:hover {
				color: $color_main;
			}
			&::before {
				content: '';
				position: absolute;
				left: 0;
				bottom: -0.2em;
				width: 100%;
				height: 0;
				background: $color_main;
				transition: all .2s ease;
			}
			&:hover::before {
				height: 1px;
			}
		}
	}
}

//==================Оффер=====================

.offer {
	margin-top: 1rem;

	&__suptitle {
		font-size: 2.4rem;
		font-weight: 300;
		line-height: 1;
		text-align: center;
		color: #ffffff;
	}

	&__title {
		margin: 2.6rem 0 0 0;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 7rem;
		line-height: 1;
		font-weight: 700;
		text-align: center;
		color: #ec644b;
		text-transform: uppercase;
	}

	&__subtitle {
		margin-top: .9rem;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 4.2rem;
		line-height: 1;
		text-align: center;
		color: #ffffff;
		text-transform: uppercase;
	}

	.separator {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: (810px / 1140px)*100%;
		margin: 3.8rem auto 0;
		&__item {
			width: 1rem;
			height: 1rem;
			border-radius: 50%;
			background: $color-txt_white;
			&::before, 
			&::after {
				content: '';
				position: absolute;
				top: .5rem;
				width: (390px / 810px)*100%;
				height: 1px;
				background: $color-txt_white;
			}
			&::before {
				left: 0;
			}
			&::after {
				right: 0;
			}
		}
	}

	&__items {
		display: flex;
		justify-content: space-between;
		align-items: start;
		flex-wrap: wrap;
		margin-top: 3.5rem;
		font-size: 1.6rem;
	}

	&__item {
		flex: 1 0 260px;
		min-height: 136px;
		padding: 0 1.125em 1.125em;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
			img {
				transform: translateX(-18%);
			}
		}
	}

	&__descr {
		margin-top: 0.75em;
		font-weight: 300;
		line-height: 1.38;
		text-align: center;
		color: #ffffff;
	}

	&__icon {
		width: 3.875em;
		height: 3.250em;
		margin: 0 auto;
		img{
			display: block;
			max-width: 100%;
			margin: 0 auto;
		}
	}
}

@media only screen and (max-width: 1199px) {
	.offer {
		margin-top: 2rem;
		&__item {
			&:first-child {
				padding-left: 1.125em;
			}
			&:last-child {
				padding-right: 1.125em;
			}
		}
	}
}

@media only screen and (max-width: 991px) {
	.header {
		&.logo {
			order: 1;
		}
		&__burger {
			position: relative;
			width: 30px;
			height: 20px;
			margin: 0 0 0 3.922em;
			order: 3;
			&::before {
				content: '';
				position: absolute;
				right: 0;
				top: 0;
				width: 100%;
				height: 1px;
				background: $color-txt_white;
				transition: all 0.5s ease;
			}
			span {
				position: absolute;
				right: 0;
				top: 9px;
				width: 100%;
				height: 1px;
				background: $color-txt_white;
				transition: all 0.5s ease;
			}
			&::after {
				content: '';
				position: absolute;
				right: 0;
				bottom: 0px;
				width: 100%;
				height: 1px;
				background: $color-txt_white;
				transition: all 0.5s ease;
			}

		}
		&__burger.active {
			position: fixed;
			top: 6%;
			right: 6%;
			z-index: 9999;
			
			&::before {
				transform: rotate(45deg);
				top: 10px;
				transition: all 0.5s ease;
			}
			span {
				transform: scale(0);
				transition: all 0.5s ease;
			}
			&::after {
				transform: rotate(-45deg);
				bottom: 9px;
				transition: all 0.5s ease;
			}
		}
		&__menu {
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			background: $color_two;
			z-index: 9998;
			
		}
		&__menu.active {
			top: 0;
			transition: all 0.5s ease;
		}
		&__list {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
		}
		&__link {
			margin-bottom: .8em;
			padding: 0;
			border-right: none;
			font-size: 3rem;
		}
	}
	.separator {
		min-width: 90%;
	}
}

@media only screen and (max-width: 991px) and (orientation: landscape) {
	.header {
		&__link {
			font-size: 2rem;
		}
	}
	.offer {
		&__items {
			font-size: 1.8rem;
		}
	}
}

@media only screen and (max-width: 767px) {
	.offer {
		&__items {
			font-size: 2.1rem;
		}
	}
}

@media only screen and (max-width: 575px) {
	.offer {
		&__items {
			width: 80%;
			margin: 3.5rem auto 0;
			font-size: 2rem;
		}
		&__item {
			flex-basis: 100%;
		}
		.separator {
			&__item {
				&::before,
				&::after {
					width: 46%;
				}
			}
		}
	}
}