.price {
	position: relative;
	min-height: 95.2rem;
	padding: 5.4rem 0 8rem;
	z-index: 1;

	&__items {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 3.4rem;
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		flex: 1 0 (260px / 1140px)*100%;
		margin: 0 .929em 1.857em;
		padding-bottom: 1.857em;
		border: 1px solid rgba(0, 0, 0, 0.21);

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		.btn {
			margin: 1.857em auto 0;
		}
	}

	&__header {
		height: 3.750em;
		margin: 2px;
		font-size: 1.6rem;
		line-height: 3.750em;
		font-weight: 700;
		text-align: center;
		color: $color-txt_white;
		background: $color_two;
		text-transform: uppercase;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 1.143em 1.857em 0;
	}

	&__icon {
		max-width: 4.429em;
		height: 3.429em;
		margin: 0 auto;
	}

	&__subtitle {
		margin-top: .571em;
		font-size: 2.8rem;
		font-weight: 400;
		text-align: center;
		white-space: nowrap;

		span {
			display: block;
			font-size: .5em;
			color: $color-txt_one;
			text-transform: uppercase;
		}
	}

	&__descr {
		text-align: center;
	}

	&__form {
		margin-top: 5.6rem;
	}
}

.price .subtitle {
	max-width: (692px / 1140px)*100%;
}

//===============Медиазапросы=================

@media only screen and (max-width: 991px) {
	.price {
		&__items {
			justify-content: center;
		}

		&__item {
			flex: none;
			max-width: 33.3%;

			&:first-child {
				margin-left: .929em;
			}

			&:last-child {
				margin-right: .929em;
			}

			&:nth-last-child(2),
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@media only screen and (max-width: 575px) {
	.price {
		&__item {
			max-width: 100%;

			&:nth-last-child(2) {
				margin-bottom: 1.857em;
			}
		}
	}
}